<a href="https://colab.research.google.com/github/navistwon/class2021Spring/blob/main/20210317.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a = [2, 4, 6, 8]
for i in range(1,13,3):
  for j in a:
    if i*j >= 25:
      print(i)
      print(j)
      print(i*j)

4
8
32
7
4
28
7
6
42
7
8
56
10
4
40
10
6
60
10
8
80

i는 1 4 7 10 가 들어오고 j는 2, 4, 6, 8이 들어오겠네

2 4 6 8 

8 16 24 32

14 28 42 56

20 40 60 80

In [10]:
a = ['k', 'ko', 'kor', 'kore', 'korea']
b = [i for i in a if len(i)>=3]
print(b)

['kor', 'kore', 'korea']