<a href="https://colab.research.google.com/github/navistwon/class2021Spring/blob/main/syntax.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4]
for i in a:
    print(i)

1
2
3
4

a에서 i가 a의 첫번째부터 받아간다는 뜻. 그걸 print(i)하니까 순서대로 받아서 프린트를 할 수 있는 것.

for ! in @ ~~

~~는 repeat하는 내용. in에는 list를 쓸 수 있다. 그러면 그 list타입에 @ 안에는 여러 개가 있는데, @의 제일 앞에있는 것을 !에 넣어라. for는 @ 속의 갯수만큼 돈다.

In [ ]:
a = [1, 2, 3, 4]
for i in range(len(a)):
    print(a[i])

1
2
3
4

in에 range도 쓸 수 있다. range는 index를 만들어주는 것. 

range는 Index처럼(0부터 쭉) range안의 숫자 갯수만큼을 만든다. 그렇게 만든 뒤 for구문에 넣는 것. 결국 여기서도 len(a)가 4이므로 range(4)라고 쓴 것과 사실상 똑같. range(4)하면 0,1,2,3이므로 i가 0번째부터 3번째까지 들어가서 할당받아서 반복문에서 프린트 하는 것.

range(0,4)하면 index 0번째부터 4번째까지. 근데 4번째는 미포함. 0:4랑 개념과 똑같다. 위의 a의 경우 인덱스가 3번째까지 있음. 그래서 range(0,4)를 하면 인덱스 0, 1, 2, 3이 불러와진다 (4번째는 미포함이기때문에.) 만약 range(0,5)를 하면 인덱스 0, 1, 2, 3, 4를 불러오라는 뜻인데 a[4]는 존재하지 않으므로 에러.

range(0,4,2)하면 인덱스 0부터 인덱스 3까지 2칸 간격으로 불러와라는 뜻. -> a 가 [1, 2, ... , 9, 10]이라면 1, 3, 5, 7, 9가 될 것임. range(0,4,3)하면 1, 4, 7, 10이 된다.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in a:
    print(i)

red
green
blue
purple

In [ ]:
a = ['red', 'green', 'blue', 'purple']
for i in range(len(a)):
    print(a[i])

red
green
blue
purple

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for i, a_ in enumerate(a):
    print("{}: {}%".format(a_, b[i]*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

 enumerate 파트는 스킵

In [ ]:
a = ["red", "green", "blue", "purple"]
b = [0.2, 0.3, 0.1, 0.4]
for a_, b_ in zip(a, b):
    print("{}: {}%".format(a_, b_*100))

red: 20.0%
green: 30.0%
blue: 10.0%
purple: 40.0%

zip도 스킵

In [1]:
a = 1
if a == 0:
    print(a)
else:
    print(a+1)

2

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        print(i*j)

3
4
6
8

for의 중첩. range 헷갈리지 않게 잘 기억해두기. 결국 range(a)하면 0부터 a-1까지이고 range(a,b)이면 a부터 b-1까지임.

In [ ]:
for i in range(1, 3):
    for j in range(3, 5):
        if j >=4:
            print(i*j)

4
8

In [ ]:
a = [1, 2, 3, 4]
b = [i for i in a if i >=2]
b

[2, 3, 4]

결국 b가 리스트임. 대괄호보면. 근데 여기에 for와 if가 있다. 

결국 이 줄은

for i in [1, 2, 3, 4]


if i>=2

i

와 같은 뜻

이러한 형태를 loop list(list loop)라고 한다.

In [ ]:
a = ['red', 'green', 'blue', 'purple']
b = [i for i in a if len(i) >=4]
b

['green', 'blue', 'purple']

위랑 마찬가지로 얘도 결국 b는 i이다. 근데 이 i가 어떻게 바뀌면서 리스트를 만들어가는가, 에 대한 문제.

위에서 len함수에 list 들어갔을 때는 그 리스트에 들어간 element의 갯수만큼의 숫자를 받아왔음. len에 string이 들어가니까 그 문자열의 글자 수만큼의 숫자를 가져오네.