<a href="https://colab.research.google.com/github/navistwon/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
a = 1
print(type(a))
type(a)

<class 'int'>

int

print명령어를 썼을 때와 그냥 type(a) 썼을 때 차이 확인

In [5]:
a = 1; a = float(a); print(type(a)); print(a)

<class 'float'>
1.0

한 줄에 쓸 때는 세미콜론 필요하나, 보통은 위의 코딩처럼 세미콜론 없이 아래로 쭉 내리는 경우가 더 많음

프린트하면 float되어서 1.0나옴

In [3]:
a = 1.2; a = int(a); print(type(a)); print(a)

<class 'int'>
1

프린트하면 반올림 되어서 1이 나온다.

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

문자열은 보통 작은따옴표 쓴다.

Index는 0부터 시작. a[1]이면 a스트링의 2번째 글자를 가져오는 것.

In [ ]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

In [ ]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

In [ ]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

튜플 리스트와 거의 같지만 튜플은 안의 아이템을 바꿀 수가 없다.

Ex. a = (1, 2, 3);  a[0] = -1;  a; 하면 오류. 리스트라면 [-1, 2, 3] 출력 가능

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

리스트의 인덱스는 0,1,2 ..... 라면 딕셔너리는그 인덱스를 사용자가 임의로 부여 가능. 그래서 print(a['b'])를 하면 오렌지가 나오겠지만 print(a[1])을 한다고 두번째에 있는 오렌지가 나오진 않는다.

In [ ]:
a=[(1,2,3), (3,8,0)]
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]